html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  border-style: solid;
  border-width: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  line-height: 1;
}

embed,
img,
object,
video {
  max-width: 100%;
  height: auto;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

pre {
  overflow: auto;
  tab-size: 4;
  white-space: pre-wrap;
}

button {
  overflow: visible;
  -webkit-appearance: button;
  cursor: pointer;
  text-transform: none;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select {
  text-transform: none;
}

input {
  line-height: normal;
  -webkit-border-radius: 0;
  -ms-user-select: text;
      user-select: text;
}
input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="number"] {
  width: auto;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input, select, textarea {
  border-radius: 0;
  box-shadow: none;
}

textarea {
  overflow: auto;
  resize: none;
  -ms-user-select: text;
      user-select: text;
}

button, input, select[multiple], textarea {
  background-image: none;
}

[placeholder]:focus:-ms-input-placeholder {
  color: transparent;
}

[placeholder]:focus::placeholder {
  color: transparent;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

[hidden], template {
  display: none;
}

a {
  background: transparent;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}

@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans.eot?1450436993');
  src: url('../fonts/OpenSans.eot?&1450436993#iefix') format('embedded-opentype'), url('../fonts/OpenSans.woff?1450436993') format('woff'), url('../fonts/OpenSans.ttf?1450436993') format('truetype');
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Bold.eot?1450436993');
  src: url('../fonts/OpenSans-Bold.eot?&1450436993#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff?1450436993') format('woff'), url('../fonts/OpenSans-Bold.ttf?1450436993') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-Italic.eot?1450436993');
  src: url('../fonts/OpenSans-Italic.eot?&1450436993#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic.woff?1450436993') format('woff'), url('../fonts/OpenSans-Italic.ttf?1450436993') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url('../fonts/OpenSans-BoldItalic.eot?1450436993');
  src: url('../fonts/OpenSans-BoldItalic.eot?&1450436993#iefix') format('embedded-opentype'), url('../fonts/OpenSans-BoldItalic.woff?1450436993') format('woff'), url('../fonts/OpenSans-BoldItalic.ttf?1450436993') format('truetype');
  font-weight: bold;
  font-style: italic;
}
.footer__container, .header__container, .main__container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
.footer__container:after, .header__container:after, .main__container:after {
  content: " ";
  display: block;
  clear: both;
}

html {
  font-size: 100%;
  line-height: 1.5em;
}

input[type="text"],
input[type="password"],
input[type="search"], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"]:-webkit-autofill,
input[type="password"]:-webkit-autofill,
input[type="search"]:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #fff inset;
}

textarea {
  border-style: inset;
  height: auto;
}

html {
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}

a {
  color: #00bcd4;
  text-decoration: none;
}
a:visited {
  color: #00bcd4;
}
a:focus {
  color: #f44336;
}
a:hover {
  color: #008fa1;
}
a:active {
  color: #f44336;
}
a:hover, a:focus {
  text-decoration: underline;
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 1.75rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 3rem;
}

h4 {
  font-size: 1.375rem;
  line-height: 3rem;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.footer {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.main {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
