%form-element {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="text"],
input[type="password"],
input[type="search"] {
  @extend %form-element;
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px $white inset;
  }
}

textarea {
  @extend %form-element;
  border-style: inset;
  height: auto;
  resize: none;
}

button[type="submit"],
input[type="submit"] {
  border-style: solid;
  border-width: 0;
  text-decoration: none;
  text-align: center;
}
