html {
  font-family: $pt-sans;
}

a {
  @include link-colors($cyan, darken($cyan, 10%), $red, $cyan, $red);
  @include hover-link;
}

label {
  display: block;
}

ul {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
