$s-email-x: 0px;
$s-email-y: 0px;
$s-email-offset-x: 0px;
$s-email-offset-y: 0px;
$s-email-width: 24px;
$s-email-height: 24px;
$s-email-total-width: 48px;
$s-email-total-height: 24px;
$s-email-image: '../images/sprites.png';
$s-email: 0px 0px 0px 0px 24px 24px 48px 24px '../images/sprites.png';
$s-github-x: 24px;
$s-github-y: 0px;
$s-github-offset-x: -24px;
$s-github-offset-y: 0px;
$s-github-width: 24px;
$s-github-height: 24px;
$s-github-total-width: 48px;
$s-github-total-height: 24px;
$s-github-image: '../images/sprites.png';
$s-github: 24px 0px -24px 0px 24px 24px 48px 24px '../images/sprites.png';

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  background-image: url(nth($sprite, 9));
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
